/* CTA SECTION  */
#section-cta {
  color: #000;
  padding: 11.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 65fr 35fr;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.35);
  border-radius: 1.6rem;
  background-image: linear-gradient(
    to bottom,
    rgb(253, 197, 118),
    rgb(209, 118, 0)
  );
}

.cta-text-box {
  padding: 4.2rem 6rem 6rem 6rem;
  color: #2b0c04;
}

#section-cta .section-heading {
  font-size: 4.4rem;
  text-align: left;
  font-weight: 900;
  color: inherit;
}

.cta-text-box > h2::after {
  display: none;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 4.2rem;
}

.cta-img {
  background-image: linear-gradient(
      to bottom,
      rgba(253, 197, 118, 0.4),
      rgba(209, 118, 0, 0.4)
    ),
    url(../images/woman-eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.8rem;
  row-gap: 2rem;
}

.cta-form label {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 1rem;
  border: none;
  background-color: #ffdfc4;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}

.newsletter-box label {
  display: inline-block;
  margin-right: 2rem;
}

.newsletter-box {
  padding-top: 1.6rem;
}

#newsletter {
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #7e7e7e;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0.6rem 0.5rem rgba(209, 209, 209, 0.7);
}
